$colorRed: red;
.styleTest{
    color: $colorRed;
}
/////////////////////////////////////////////////////////////

.bg-cover {
    background-size: cover;
    background-position: center center;
  }

.bg-lighter {
background-color: rgba(0, 0, 0, 0.5)
  }

.spacing {
  letter-spacing: 10px;
  }

.writting-vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }


  // 副色選擇
.barSecond{
  color:#678F8d
}
.bg-barSecond{
  background-color:#678F8d
}

// Navber購物車的 badge
.btn-cart .badge {
    position: absolute;
  }


//字體選擇
.nav_text {
    font-weight: bold;
    color: white
  }
.font_1 {
    font-family: 'Noto Sans TC', sans-serif;
}

.font_2 {
    font-family: 'Reggae One', cursive;
}
  
body {
    font-family: 'Noto Sans TC', sans-serif;
}


// 控制dropDown寬度
@media (min-width: 768px) {
  .dropdown-md {
    min-width: 600px;
  }

}